# Build results
target/
coverage-report/
dependency-reduced-pom.xml
/source/revision.txt
.m2

#IDE projects
.idea/
*.iml
*.ipr
*.iws

# MacOS cache file
.DS_Store

# Windows image cache files
Thumbs.db
